<!--single form panel-->
<div class="multisteps-form__panel" data-animation="FadeIn">
    <div class="row text-center mt-4">
        <div class="col-10 mx-auto">
            <h5 class="font-weight-normal">Contact</h5>
        </div>
    </div>
    <div class="multisteps-form__content">
        <div class="row mt-4">
            <div class="input-group input-group-outline my-3">
                <input type="tel" name="mobile" value="{{ app.user.profile.mobile }}"  class="form-control text-warning" placeholder="Phone">
            </div>
            <div class="input-group input-group-outline my-3">
                <input type="url" name="facebook" value="{{ app.user.profile.facebook }}" class="form-control text-warning" placeholder="Facebook">
            </div>
            <div class="input-group input-group-outline my-3">
                <input type="url" name="twitter" value="{{ app.user.profile.twitter }}" class="form-control text-warning" placeholder="Twitter">
            </div>
            <div class="input-group input-group-outline my-3">
                <input type="url" name="instagram" value="{{ app.user.profile.instagram }}" class="form-control text-warning" placeholder="Instagram">
            </div>
        </div>
        <div class="button-row d-flex mt-4">
            <button class="btn btn-outline-dark mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
            <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
        </div>
    </div>
</div>
