<div class="col-md-12 mb-4">
    <div class="card bg-gradient-dark shadow-lg">
        <span class="badge rounded-pill bg-primary w-30 mt-n2 mx-auto">Skills</span>
        <div class="card-header text-center pt-4 pb-3 bg-transparent">
        </div>
        <div class="card-body text-lg-start text-center pt-0">
            <div class="accordion-item mb-3">
                <h5 class="accordion-header" id="headingOne">
                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#skill" aria-expanded="false" aria-controls="skill">
                        Add New Skill
                        <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                        <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                    </button>
                </h5>
                <div id="skill" class="accordion-collapse-skill collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                    <form id="skillForm">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">Skill</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group input-group-outline my-3">
                                    <select class="form-control" name="level" id="exampleFormControlSelect1">
                                        <option>10%</option>
                                        <option>20%</option>
                                        <option>30%</option>
                                        <option>40%</option>
                                        <option>50%</option>
                                        <option>60%</option>
                                        <option>70%</option>
                                        <option>80%</option>
                                        <option>90%</option>
                                        <option>100%</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="newSkill()" class="btn btn-icon bg-gradient-primary mt-3 ">
                                    <span class="btn-inner--icon"><i class="material-icons">add</i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% for skill in skills %}
                <div class="row">
                    <div class="col-md-4">
                        {{ skill.name }}
                    </div>
                    <div class="col-md-4">
                        <div class="progress-wrapper">
                            <div class="progress-info">
                                <div class="progress-percentage">
                                    <span class="text-sm font-weight-normal">{{ skill.level }}%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.level }}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-icon btn-warning btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="material-icons">edit</i></span>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-icon btn-danger btn-sm" type="button">
                            <span class="btn-inner--icon"><i class="material-icons">delete</i></span>
                        </button>
                    </div>
                </div>
            {% endfor %}
            <skill></skill>
        </div>
    </div>
</div>
