<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h5 class="">New Event</h5>
                        <p class="mb-0">Insert new event</p>
                    </div>
                    <div class="card-body">
                        <form id="myForm" role="form text-left">
                            <div class="input-group input-group-outline my-3">
                                <input type="text" name="title" class="form-control text-warning" onfocus="focused(this)" onfocusout="defocused(this)" placeholder="Title">
                            </div>
                            <div class="input-group input-group-outline">
                                <textarea class="form-control" name="description" rows="5" placeholder="Some description." spellcheck="false"></textarea>
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <input type="datetime-local" name="startDate" class="form-control text-warning" placeholder="Start Date">
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <input type="datetime-local" name="endDate" class="form-control text-warning" placeholder="End Date">
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="allDay" id="customRadio1">
                                <label class="custom-control-label text-warning" for="customRadio1">All Day</label>
                            </div>
                            <div class="input-group input-group-outline my-3">
                                <select class="form-control text-warning" name="type" id="exampleFormControlSelect1">
                                    {% for type in eventTypes %}
                                        <option>{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="button" onclick="addNewEvent()" class="btn btn-round bg-gradient-warning btn-lg w-100 mt-4 mb-0">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
