<form method="post" action="{{ path('task_delete', {'id': task.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-icon btn-2 btn-danger"><span class="btn-inner--icon"><i class="material-icons">delete</i></span></button>
</form>
