{% extends 'base.html.twig' %}

{% block title %}New Hobby{% endblock %}

{% block body %}
    <h1>Create new Hobby</h1>

    {{ include('hobby/_form.html.twig') }}

    <a href="{{ path('hobby_index') }}">back to list</a>
{% endblock %}
