{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 m-auto text-center">
            <h1 class="display-1 text-bolder text-white">Error 404</h1>
            <h2 class="text-white">Page not found</h2>
            <p class="lead text-white">We suggest you to go to the homepage while we solve this issue.</p>
            <a href="{{ path('home') }}" type="button" class="btn btn-outline-white mt-4">Go to Homepage</a>
        </div>
    </div>
{% endblock %}
