<div class="page-header bg-gradient-dark position-relative m-3 border-radius-xl min-vh-50" style="background-image: url('{{ asset('dashboard/assets/img/bg-pricing.jpg') }}');">
    <span class="mask bg-gradient-dark opacity-2"></span>
    <div class="container py-5 postion-relative z-index-2">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="text-white">Welcome by Ramy World</h2>
            </div>
        </div>
    </div>
</div>
